<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" />

    <style>
        .basic_container {
            padding-top: 25px;
        }
    </style>

</head>
<body>

<script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

<div th:replace="fragments/header::header"></div>
<div layout:fragment="content">

</body>
</html>