<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Index Page</title>
</head>
<body>

<div layout:fragment="content" class="container basic_container">
    <div class="jumbotron">
        <p>
            Welcome to BookNetwork !
        </p>
        <p>
            BookNetwork is a social networking site for people who love reading and always have their face in a book.
            On BookNetwork you can rate, comment and favourite books. You can also read the comments made by others on their favourite books
            and other books by their favourite authors.
        </p>
        <p>
            Before you can submit a comment you must be logged in. If you don't have an account, please register via email.
        </p>
    </div>
</div>
</body>
</html>